.site-header {
    @include grid-column-row();
    @include spaced-bottom();
    margin-top: $vspace-small / 2;

    @include breakpoint(medium) {
        margin-top: $vspace-medium / 2;
    }

    @include breakpoint(large) {
        margin-top: $vspace-large / 2;
    }
}

.main {
    @include grid-row();
    @include spaced();

    &__content {
        @include grid-column(12);
    }
}

.movie-list {
    @include grid-row-nest();
    @include grid-layout(2, ".movie-list__movie");

    @include breakpoint(medium) {
        @include grid-layout(4, ".movie-list__movie");
    }

    @include breakpoint(large) {
        @include grid-layout(5, ".movie-list__movie");
    }

    &__movie {
        @include grid-column();
        @include grid-column-end();
        text-align: center;
        margin-bottom: $vspace-small / 2;

        @include breakpoint(medium only) {
            margin-bottom: $vspace-medium / 2;
        }

        @include breakpoint(large) {
            margin-bottom: $vspace-large / 2;
        }
    }

    &__movie-info {
        padding-top: 0.5em;
    }

    &__user-rating {
        margin-right: 1em;
    }

    i {
        color: $medium-gray;
    }

    p:last-child {
        margin-bottom: 0;
    }
}
