html {
    overflow-y: scroll;
}

.main, .site-header {
    max-width: $global-width;
    margin: auto;
    padding: 0 0.25rem 0;
    @include spaced;

    @include breakpoint(medium) {
        padding: 0 0.5rem 0;
    }
}

.navigation {
    margin-bottom: 2rem;

    &__link {
        @include button;
        color: $black;

        &:focus {
            border-color: $primary-color;
            color: $black;
            outline: none;
        }

        &:hover {
            background-color: $primary-color;
            color: $black;
            border-color: $primary-color;
        }
    }

    .router-link-active {
        background-color: $primary-color;
        color: $black;
        border-color: $primary-color;
    }
}

.ratings-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;

    @include breakpoint(medium) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }

    @include breakpoint(large) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.year {
    text-align: center;

    &__title {
        font-size: 1rem;
        background-color: $primary-color;
        padding: 0.5rem 0.25rem;

        @include breakpoint(medium) {
            font-size: 1.25rem;
        }
    }
}

.movie {
    padding: 0.25rem;
    margin-bottom: 2rem;

    &__title {
        font-size: 1.25rem;

        a {
            color: $black;
            border-bottom: 2px solid transparent;
            transition: border-bottom 0.25s ease-out;
        }

        a:hover {
            color: $black;
            border-bottom: 2px solid $primary-color;
        }

        @include breakpoint(medium) {
            font-size: 1.5rem;
        }
    }

    &__ratings {
        color: $secondary-color;
        font-size: 0.8rem;
        margin-bottom: 0;
    }

    &__user-rating, &__all-users-rating {
        padding: 0 0.5rem;
    }
}
